.form {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.submit-btn,
.clear-btn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 10px;
}

.submit-btn {
  background-color: #28a745;
}

.submit-btn:hover {
  background-color: #13862e;
}

.submit-btn:disabled {
  background-color: #c3e6cb;
}

.clear-btn {
  background-color: #dc3545;
}

.clear-btn:hover {
  background-color: #c82333;
}
